:root
{

    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgb(83, 78, 78);
    --border: 2rem solid rgba(0,0,0,1);
    --outline: .1rem solid rgba(0,0,0,1);
}

*{
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}

html{
   
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;

}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 9%;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2rem;
    
}
.header .navbar a{

    font-size: 1.7rem;
    margin: 0 2rem;
    color: var(--black)

}
.header .navbar a:hover{
  color:rgb(10, 236, 10)
}
.header .icons div {
 
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 7px;
  background-color: #eee;
   margin-right: 2px;
   cursor: pointer;
}
header .icons div:hover{
    background: var(--green);
    color: white;
}

#menu-btn{
    display: none;
}
.login-form{
    border: 2px solid;
    position: absolute;
    top: 9rem;
    right: 2rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    font-size: 15px;
    display: none;
}
.box{
    background-color: #eee;
    padding: 10px;
     border-radius: 10px;
}
.btn{
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid green;
    background-color: white;
    color: green;
  
}
.btn:hover{
    background-color: green;
    color: white;
}
#login-btn:hover ~ .login-form{
    display:block;
}
section{
padding: 2rem 9%;


}
.home{
    border: 2px solid;
    justify-content: center;
    display: flex;
     height: 80vh;
     background: url(../NaturalFarming_Grocery/Images/banner-img.jpg) no-repeat;
     background-position: center;
     background-size: cover;
     padding-top: 17rem;
     padding-bottom: 10rem;
}








@media (max-width: 991px) {
     html{
        font-size: 55%;
     }
     .header{
        padding: 2rem;
     }
     section{
        padding: 2rem;
     }
}
@media( max-width: 768px){
     #menu-btn{
        display: inline-block;
     }
    .header .navbar
    {
    position: absolute;
    top: 110%;
    right: 2rem;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;
    display: none;
     }
     .header .navbar a{
        font-size:2rem;
        margin: 2rem 2.5rem;
        display: block;
     }

     #menu-btn:hover + .navbar{
        display: inline-block;
     }
}


@media (max-width: 450px) {
     html{
        font-size: 50%;
     }
}