:root
{

    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgb(83, 78, 78);
    --border: 2rem solid rgba(0,0,0,1);
    --outline: .1rem solid rgb(199, 195, 195);
}

*{
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}

html{
   
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;

}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3rem;
    color: var(--black);
}
.heading span{
    background-color: var(--green);
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    
}

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 9%;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2rem;
    
}
.header .navbar a{

    font-size: 1.7rem;
    margin: 0 2rem;
    color: var(--black)

}
.header .navbar a:hover{
  color:rgb(10, 236, 10)
}
.header .icons div {
 
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 7px;
  background-color: #eee;
   margin-right: 2px;
   cursor: pointer;
}
header .icons div:hover{
    background: var(--green);
    color: white;
}

#menu-btn{
    display: none;
}
.login-form{
    border: 2px solid;
    position: absolute;
    top: 9rem;
    right: 2rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    font-size: 15px;
    display: none;
}
.box{
    background-color: #eee;
    padding: 10px;
     border-radius: 10px;
}
.btn{
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid green;
    background-color: white;
    color: green;
   font-size: 13px;
    font-weight: bold;
  
}
.btn:hover{
    background-color: green;
    color: white;
}
#login-btn:hover ~ .login-form{
    display:block;
}
section{
padding: 2rem 9%;


}
.home{
   
    border: 2px solid;
    justify-content: center;
    display: flex;
     height: 80vh;
    background: url("Images/banner-img.jpg") no-repeat;
     background-position: center;
     background-size: cover;
     padding-top: 17rem;
     padding-bottom: 10rem;
     
}
.home .content{
    border: 1px solid;
    text-align: center;
    width: 70rem;
    
}

.home .content h1{
    color: var(--black);
    font-size: 3rem;
}
.home .content span{
    color: var(--green);
   
}
.home .content h2{
    color: rgb(2, 38, 2);
    font-size: 2rem;

}

.home .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8;
}


.features .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box{
   
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);

}
.features .box-container .box:hover{
    box-shadow: 2px 2px 10px  4px var(--green);
}


.products .product-slider{
    border: 0px solid green;
    padding: 1rem;

}
.products .product-slider:first-child{
  margin-bottom: 2rem;

}

.products .product-slider .box{
    border: 0px solid red;
   background-color: #fff;
   border-radius: .5rem;
   text-align: center;
   padding:3rem 2rem;
   outline-offset: -1rem;
   outline: var(--outline);
   box-shadow:var(--box-shadow) ;
   transition: .2s linear;

}

.products .product-slider .box:hover{
     box-shadow: 2px 2px 10px  4px var(--green);
}


.products .product-slider .box img{
    height: 18rem;

}
.products .product-slider .box h1{
    font-size: 2.5rem;
    color: var(--black);

}
.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;

}
.products .product-slider .box .stars i{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;

}

.categories .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.categories .box-container .box{
    padding: 3rem 0;
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    outline-offset: -1rem;
    outline: var(--outline);
    text-align: center;
}
.categories .box-container .box:hover{
    box-shadow: 2px 2px 10px  4px var(--green);


}
.categories .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}
.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}
.categories .box-container .box p{
    font-size: 1.7rem;
    color: var(--black);
    line-height: 1.8;
    padding: 1rem 0;
}
.review .review-slider
{

border: 0px solid;
padding: 1rem;
}

.review .review-slider .box{
     border: 0px solid red;
   background-color: #fff;
   border-radius: .5rem;
   text-align: center;
   padding:3rem 2rem;
   outline-offset: -1rem;
   outline: var(--outline);
   box-shadow:var(--box-shadow) ;
   transition: .2s linear;

}
.review .review-slider .box:hover{
    box-shadow: 2px 2px 10px  4px var(--green);
}
.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}
.review .review-slider .box h3{
    padding-bottom: .5rem;
    
    color: var(--black);
    font-size: 2.2rem;
}
.review .review-slider .box .stars{
   
    
    color: orange;
    font-size: 1.7rem;
}


















@media (max-width: 991px) {
     html{
        font-size: 55%;
     }
     .header{
        padding: 2rem;
     }
     section{
        padding: 2rem;
     }
}
@media( max-width: 768px){
     #menu-btn{
        display: inline-block;
     }
    .header .navbar
    {
    position: absolute;
    top: 110%;
    right: 2rem;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;
    display: none;
     }
     .header .navbar a{
        font-size:2rem;
        margin: 2rem 2.5rem;
        display: block;
     }

     #menu-btn:hover + .navbar{
        display: inline-block;
     }
}


@media (max-width: 450px) {
     html{
        font-size: 50%;
     }
     .heading{
        font-size: 2.5rem;
     }
}